<div class="text-layout">
    <h1> {{ 'Vamos a darle a los pipes' | uppercase }} </h1>
    <h1> {{ valor | number }} </h1>
    <h1> {{ obj | json }} </h1>
</div>

<button pButton label="Prueba" icon="pi pi-heart" 
        iconPos="right"
        class="p-button-help"></button> 

<p-card [header]="nombre | titlecase"
        subheader="Sub header">
    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Earum dolorem ipsum eius cum, pariatur iste, repellat non aut, ipsam natus odit quo blanditiis quod deleniti vero fugit culpa quas officia?
</p-card>